node_modules/
npm-debug.log
package-lock.json
yarn-lock.json
test/*.log

.DS_Store
.idea
.project
.strong-pm
coverage

npm-debug.log
.env
.env.*

*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml